;
; Copyright © 2019 Peter Monks
;
; This file is part of pmonks/gravity.
;
; pmonks/gravity is free software: you can redistribute it and/or modify
; it under the terms of the GNU Affero General Public License as published by
; the Free Software Foundation, either version 3 of the License, or
; (at your option) any later version.
;
; pmonks/gravity is distributed in the hope that it will be useful,
; but WITHOUT ANY WARRANTY; without even the implied warranty of
; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
; GNU Affero General Public License for more details.
;
; You should have received a copy of the GNU Affero General Public License
; along with pmonks/gravity.  If not, see <https://www.gnu.org/licenses/>.
;

{:paths ["src" "resources"]
 :deps {org.clojure/clojure            {:mvn/version "1.10.3"}
        clojure2d/clojure2d            {:mvn/version "1.4.3"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.11"}}
 :aliases {
    ; clj -M:check
    :check    {:extra-deps {com.github.athos/clj-check {:git/sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
               :main-opts  ["-m" "clj-check.check"]}
    ; clj -M:outdated
    :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "1.6.0"}}
               :main-opts ["-m" "antq.core"]}
    ; clj -M:kondo
    :kondo
      {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.03.04"}}
       :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "resources"]}
    ; clj -M:eastwood
    :eastwood
      {:extra-deps {jonase/eastwood {:mvn/version "1.2.3"}}
       :main-opts  ["-m" "eastwood.lint" {:source-paths ["src" "resources"]}]}
    }}
