;
; Copyright © 2019 Peter Monks
;
; This file is part of pmonks/gravity.
;
; pmonks/gravity is free software: you can redistribute it and/or modify
; it under the terms of the GNU Affero General Public License as published by
; the Free Software Foundation, either version 3 of the License, or
; (at your option) any later version.
;
; pmonks/gravity is distributed in the hope that it will be useful,
; but WITHOUT ANY WARRANTY; without even the implied warranty of
; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
; GNU Affero General Public License for more details.
;
; You should have received a copy of the GNU Affero General Public License
; along with pmonks/gravity.  If not, see <https://www.gnu.org/licenses/>.
;

{:paths ["src" "resources"]
 :deps {org.clojure/clojure            {:mvn/version "1.12.4"}
        clojure2d/clojure2d            {:mvn/version "1.4.5"}
        org.clojure/math.combinatorics {:mvn/version "0.3.2"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.23"}
        com.github.pmonks/embroidery   {:mvn/version "1.0.44"}}
 :aliases {
    ; clj -A:flames -i init.clj -r, then REPL usage as per https://github.com/jstepien/flames#usage
    :flames {:extra-deps {flames/flames {:mvn/version "RELEASE"}}}

    ; clj -M:check
    :check    {:extra-deps {com.github.athos/clj-check {:git/sha "d997df866b2a04b7ce7b17533093ee0a2e2cb729"}}
               :main-opts  ["-m" "clj-check.check"]}
    ; clj -M:outdated
    :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
               :main-opts ["-m" "antq.core"]}
    ; clj -M:kondo
    :kondo
      {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
       :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "resources"]}
    ; clj -M:eastwood
    :eastwood
      {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
       :main-opts  ["-m" "eastwood.lint" {:source-paths ["src" "resources"]}]}
    }}
